User Input

In [1]:
score = input("Enter the score: ")# by default input() always return string value

Enter the score: 3

In [2]:
score

'3'

In [3]:
score = int(input("Enter the score: "))

Enter the score: 12

In [4]:
score

12

In [5]:
type(score)

int

Conditional Statements:

- if
- if else
- elif

In [6]:
number = int(input("Enter any number: "))

Enter any number: 5

In [7]:
#if statement
if number > 0:
    print("User has entered positive number",number)

User has entered positive number 5

In [8]:
#if else statement
if number > 0:
    print("User has entered positive number",number)
else:
    print("User has entered negative number",number)

User has entered positive number 5

In [9]:
if number > 0:
    print("User has entered positive number",number)
elif number == 0:
    print("User has entered",number)
else:
    print("User has entered negative number",number)

User has entered positive number 5

While statement

In [10]:
index = 1
while index <= 10:
    print(index)
    index += 1

1
2
3
4
5
6
7
8
9
10

In [11]:
r = list(range(1,10,2))

For statement

In [12]:
for item in r:
    print(item)

1
3
5
7
9

In [13]:
company_names = ['amazon','flipkart','apple']
print(company_names)

['amazon', 'flipkart', 'apple']

In [14]:
websites = []
for i in company_names:
    websites.append("www."+ i +".com")
    print("www."+ i +".com")

www.amazon.com
www.flipkart.com
www.apple.com

In [15]:
websites

['www.amazon.com', 'www.flipkart.com', 'www.apple.com']

In [16]:
websites = []
for i in company_names:
    i = "www."+i+".com"
    websites.append(i)
websites

['www.amazon.com', 'www.flipkart.com', 'www.apple.com']

In [17]:
VK = {'name':"Virat",'age':33,'team':"RCB"}

In [18]:
for i in VK:
    print(i)

name
age
team

In [19]:
for i in VK.values():
    print(i)

Virat
33
RCB

In [20]:
for i in VK.items():
    print(i)

('name', 'Virat')
('age', 33)
('team', 'RCB')

In [21]:
for i, j in VK.items():
    print(i, j)

name Virat
age 33
team RCB

In [22]:
for i, j in enumerate(websites):
    print(i, j)

0 www.amazon.com
1 www.flipkart.com
2 www.apple.com

In [23]:
for i, j in enumerate(company_names):
    print(i, j)

0 amazon
1 flipkart
2 apple

Break Statement

In [24]:
for i in range(1,11):
    print(i)
    if i == 5:
        break

1
2
3
4
5

Continue Statement

In [25]:
for i in range(1,11):
    if i%2 == 0:
        continue
    print(i)

1
3
5
7
9

In [26]:
# Exercise: take input from the user and reverse it 
string = input("enter the name: ")

enter the name: 10

In [27]:
print(string[::-1])

01

In [28]:
num = int(input("enter a number: "))

enter a number: 6