# Functions

- Code Reusability

In [2]:
def simplefunction():
    print("Starting of an function")
    print("Ending of an function")

In [3]:
simplefunction()

Starting of an function
Ending of an function

In [7]:
# Find maximum between two numbers
def max(x1,x2):
    if x1 > x2:
        return x1
    else:
        return x2

In [6]:
max(8,10)

10

Factorial

- iterative approach

- 5! = 5 * 4 * 3 * 2 * 1

- 1! = 1

- 3! = 3 * 2 * 1

In [9]:
 def iterfactorial(num):
        result = 1
        for i in range(1, num+1):
            result = result*i
        return result

In [11]:
iterfactorial(5)

120

In [12]:
iterfactorial(8)

40320

In [15]:
num = int(input("Enter any number: "))
print("Result:", iterfactorial(num))

Enter any number: 5
Result: 120

Recursive

- 5! = 5 * 4!
- 4! = 4 * 3!
- 3! = 3 * 2!

In [16]:
def recursive_factorial(num):
    if num == 0 or num == 1:
        return 1
    else:
        return num * recursive_factorial(num-1)

In [17]:
recursive_factorial(4)

24

Default Arguements

In [1]:
def defaultarguement(x):
    print("The value of x is {}".format(x))

In [2]:
defaultarguement(3)

The value of x is 3

In [3]:
def defaultarguement(x=5):
    print("The value of x is {}".format(x))

In [4]:
defaultarguement()

The value of x is 5

In [5]:
###
def defaultarguement(a, b, c):
    print("Result {}, {}, {}".format(a,b,c))

In [6]:
defaultarguement(10,20,30)

Result 10, 20, 30

In [7]:
defaultarguement(10, b=20, c=30)

Result 10, 20, 30

In [9]:
defaultarguement(b=20, c=30, a=10)

Result 10, 20, 30

Lambda Function

- anonymous function
- one liner

In [10]:
def squares(x):
    return x * x

In [11]:
squares(8)

64

In [12]:
f = lambda x: x * x

In [13]:
f(7)

49

In [3]:
multiply = lambda x,y : x*y

In [4]:
multiply(3,4)

12

In [5]:
(lambda x,y:x*y)(2,3)

6

args and kwargs

In [8]:
#args
def sum_of_numbers(x,y):
    result = x+y
    return result

In [9]:
sum_of_numbers(7,8)

15

In [10]:
 # syntax for giving in multiple arguments (*args)
def sum_of_num_args(*args):
    """this function takes in multiple arguments and return the sum"""
    print("args:", args)
    print("Type of args:", type(args))
    result = 0
    for i in args:
        #print("iterator", i)
        result += i
    print("result: ", result)

In [11]:
sum_of_numbers_args(4,8)

args: (4, 8)
type of args: <class 'tuple'>
result: 12

In [12]:
sum_of_num_args(2,4,6,8,10)

args: (2, 4, 6, 8, 10)
Type of args: <class 'tuple'>
result:  30

In [13]:
t = (1,2,3,4,5)

In [14]:
sum_of_num_args(t)

args: ((1, 2, 3, 4, 5),)
Type of args: <class 'tuple'>

TypeError: unsupported operand type(s) for +=: 'int' and 'tuple'

In [15]:
sum_of_num_args(t[0],t[1],t[2])

args: (1, 2, 3)
Type of args: <class 'tuple'>
result:  6

In [16]:
def mul_args(*args):
    """ this  function is used to take multiple arguments"""
    print("arcs:",args)
    print("type of args",type(args))
    result=0
    for i in args:
        print("iterator:",i)
        result= i**i
    print('result:', result)

In [17]:
mul_args(2,3,6)

arcs: (2, 3, 6)
type of args <class 'tuple'>
iterator: 2
iterator: 3
iterator: 6
result: 46656